<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar un Empleado</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <br><br>
        <div class="alert alert-danger" role="alert">Estas seguro que deseas eliminar a "{{laboratorio.nombre}}"???</div>
        <p><a href="{%url 'mostrar-lab'%}"><--Retornar</a></p>
        <p><input class="btn btn-danger" type="submit" value="Confirm"></p>
    </form>
    
</body>
</html>